{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<section class="mt-0">



 {% include "form/search.html.twig" %}

{% include "partials/list.html.twig" %}


</section>

{% endblock %}
