{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<section class="mt-5">

    <h1>WeeMo</h1>
    <ul>
        {% for property in properties %}
            <li>{{ property.noVoie }} {{ property.typeVoie }} {{ property.voie }}</li>
        {% endfor %}
    </ul>

</section>

{% endblock %}
