{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<a href="{{ path('app_home') }}" class="btn btn-primary">Retour à la page d'acceuil</a>

	<h3 class="my-5">Trouvez votre Bien de rêve parmi notre sélection.</h3>

	{% include "partials/paginated_list.html.twig" %}

</div>{% endblock %}
