<footer class="footer p-5"> 
  <div class="container my-5">
     
  </div>
  <section>
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">WeeMo</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
          <p>
            Here you can use rows and columns to organize your footer
            content. Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Products</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
          <ul>
            
            <li><a href="/qui-sommes-nous/notre-philosophie">Qui sommes-nous ?</a></li>
            <li><a href="/nous-contacter">Nous contacter</a></li>
            <li><a href="/cgv">CGV</a></li>
            <li><a href="/cgv">CGU</a></li>
           
        
          </ul>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Useful links</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
          <ul>
            <li><a href="/plan-du-site">Plan du site</a></li>
            <li><a href="/temoignages">Témoignages clients</a></li>	
            <li><a href="/nous-rejoindre">Recrutement</a></li>
            <li><a href="/media">Espace Presse</a></li>
           
            
          </ul>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
          <ul>
            <li><i class="fas fa-home mr-3"></i> 25 rue de Renaud, Paris 17</li>	
            <li><i class="fas fa-envelope mr-3"></i>contact@weemo.fr</li>
            <li><i class="fas fa-phone mr-3"></i>01 23 45 67 88</li>
            <li><i class="fas fa-phone mr-3"></i>01 23 45 67 98</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"> 
    <div class="row"> 
   
          <div class="col-md-12"> 
            <ul class="list-inline footer-links">
              <li class="list-inline-item"> Weemo - All rights reserved © 2024 </li>		
            
              <li class="list-inline-item"> | <a href="/mentions-legales" target="_blank">Mentions légales</a></li>
              <li class="list-inline-item"> | <a href="/donnees-personnelles" target="_blank">Confidentialité</a></li>
              <li class="list-inline-item"> | <a href="/groupe/cookies" target="_blank">Cookies</a></li>
              <li class="list-inline-item"> | <a href="javascript:window.Sddan.cmp.displayUI();">Choix des cookies</a> </li><i class="fab fa-twitter"></i>
            </ul>


             
          </div> 
      </div> 

  </container>
<!-- End of .container -->
</footer>
<!-- Footer -->

