<div class="homepage-cover homepage-cover-7">
    <div class="item-tampon"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex align-items-center">
                <div class="item-title">
                    <h1>
                        Immobilier de rêve<br>Sans Frais Cachés,<br>Commission %git
                    </h1>
                    <p class="sm-hidden">
                        <b>Trouvez</b> ou <b><a href="#" class="a-underline txt-white">proposez</a></b>
                        un bien immobilier à Vendre sur notre plateforme propulsée par l'IA.<br class="sm-hidden">
                    </p>
                </div>
            </div>
            <div class="col-md-9  carousel-container">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://www.pap.fr/images/visuels/homepage/visuel-homepage-desktop-8.jpg" class="d-block w-100" alt="Slide 1">
                        </div>
                        <div class="carousel-item">
                            <img src="https://www.pap.fr/images/visuels/homepage/visuel-homepage-desktop-6.jpg" class="d-block w-100" alt="Slide 2">
                        </div>
                        <div class="carousel-item">
                            <img src="https://www.pap.fr/images/visuels/homepage/visuel-homepage-desktop-5.jpg" class="d-block w-100" alt="Slide 3">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="container ">
    <div class="row">
        {% include "form/search.html.twig" %}
    </div>
</div>