<div class="homepage-cover homepage-cover-7">
    <div class="item-tampon"></div>
    <div class="container  ">
        <div class="row ">
            <div>
                <div class="item-title">
                    <h1>
                        Immobilier de rêve  
                        <br>Sans Frais Cachés,<br> Commission Avantageuse
                    </h1>
                    <p class="sm-hidden">
                        <b>Trouvez</b> ou <b><a href="/publier-annonce" class="a-underline txt-white">proposez</a></b> 
                        un bien immobilier à Vendre<br class="sm-hidden"> sur notre plateforme propulsé par l'IA.
                    </p>
                </div>
            </div>
    </div>


    </div>
</div>