{% extends 'base.html.twig' %}

{% block title %}List a property for sale{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Ajouter une nouvelle annonce : Step 2</h1>

    
    <h1>Step 2: Property Features</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Next</button>
        <a href="{{ path(previous_route) }}" class="btn btn-secondary">Back</a>
    {{ form_end(form) }}
</div>


{% endblock %}


