{% extends 'base.html.twig' %}

{% block title %}List a property for sale{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Ajouter une nouvelle annonce : Step 1</h1>

    
    <h1>Step 1: Listing Details</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Next</button>
</div>

{% endblock %}


