
{% extends 'base.html.twig' %}

{% block title %}Add Proprety Listing Success{% endblock %}

{% block body %}
<div class="container mt-3 mb-4">
    <div class="row">

        <h1>Property Listing Added Successfully!</h1>
        <p>Your property listing has been added successfully.</p>
        <a href="{{ path('app_home') }}" class="btn btn-primary">Back to Home</a>

    </div>
   
</div>
{% endblock %}
