{% extends 'base.html.twig' %}

{% block title %}List a property for sale{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1></h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/Users/Yassan/Desktop/WeeMo/src/Controller/ListingAddController.php</code></li>
        <li>Your template at <code>/Users/Yassan/Desktop/WeeMo/templates/listing_add/index.html.twig</code></li>
    </ul>
</div>


{% endblock %}
