body {
    background-color: white;
}

.logo-img {
    width: 180px; /* Adjust the size as needed */
    height: auto;
    vertical-align: middle;
}
/* align li img with li text*/
li {
    display: flex;
    align-items: center;
  }

.label-color label {
    color: rgb(0, 98, 255);
    text-align: center;
}

.form-input {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

::placeholder {
	text-align: center;
}

.checkbox {
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.white {
    color: white;
}