{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add Property</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Submit</button>
    {{ form_end(form) }}
{% endblock %}
