<!DOCTYPE html>
<html lang="fr" dir="ltr" class="h-100">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}SymfonyImmo{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body class="d-flex flex-column h-100">

        {# Header #}
        {% include "partials/header.html.twig" %}

        <main class="flex-shrink-0">

            <section class="container">
            
                {% block body %}{% endblock %}

            </section>
        
        </main>

        {% include "partials/footer.html.twig" %}

    </body>

</html>
