{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

<h1>Résultat de notre simulation propulsée par l'IA</h1>
<p>D'après notre modèle, votre appartement est estimé à : {{ predict_value | json_encode }} euros</p>

{% endblock %}