{% extends 'base.html.twig' %}

{% block title %}List a property for sale{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>List a property for sale</h1>

    <h1>Ajouter une nouvelle annonce</h1>

    
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
</div>


{% endblock %}
